.conmainbox{
    height: 90vh;
    width: 100%;
    display: flex;
align-items: center;
flex-direction: column;
}
.coninnebox{
    position: relative;
margin-top: 100px;
    font-size: 50px;
    width: 50%;
    
}
.condetes{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 100px;
}